<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, accusamus vero? Temporibus ullam natus at repellat ab quo non in qui minima doloremque molestias et quos voluptate recusandae, dignissimos saepe!