<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        title Document
    body
        block cont
            h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis qui, saepe vero rem corporis maiores amet aspernatur. Soluta temporibus quis saepe quidem sequi minima quibusdam sapiente eum consequatur! Explicabo, quis.