extends layout  
block navegacion
    ul.welcome
            h1(style="color:rgb(243,221,105)") basic project with nodejs and express
            li
                a(href="#home") Home 
            li
                a(href="#story") story 
            li            
                    a(href="#about") About 
                
            li 
                a(href="#contact") Contact         
            li 
                a(href="#idk") idk 
block content
    div.content
        div#home
            h2 home
            h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum totam libero ea nam fugit, ut quis sit quos molestiae deserunt eligendi beatae id saepe. Odio laboriosam libero perspiciatis aspernatur culpa!
            h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque deserunt dicta quidem magnam atque, possimus sit quis consectetur ab ut deleniti veniam quaerat beatae, nisi necessitatibus tempore. Sapiente, magnam!         
        div#story
            h2 story  
            h4 I started programming at the age of 12, my first programming language was c ++ but I started to improve a lot more when I started programming in python which I automatically liked for its simplicity
        div#about
            h2 about me:
            h4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ea voluptate deserunt. Facilis quis ab vitae ducimus magnam excepturi necessitatibus aliquid dicta numquam labore? Quis libero expedita cupiditate atque dolores!
        div#contact
            h2 contact
            h4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem aut delectus tenetur reprehenderit et, rerum, dignissimos necessitatibus placeat optio voluptas asperiores ullam quia dolore eos, perferendis repudiandae eligendi blanditiis error!
        div#idk
            h2 idk
            h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi corporis voluptate expedita molestiae rem, fuga praesentium, sint iste commodi eum exercitationem ratione fugiat, illum iusto dolore beatae eaque enim nisi?
            h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur libero veritatis error id repellendus ex cupiditate laborum! Nostrum, praesentium, aliquam ut eius ad suscipit minus officiis deleniti expedita beatae quo.

            